@{
    Layout = null;
}

@Scripts.Render("~/scripts/jquery-2.2.0.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Примеры. Размещение карты на странице.</title>
    <!--
        Подключаем API карт
        Если вы используете API локально, то в URL ресурса необходимо указывать протокол в стандартном виде (http://...)
    -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="~/Scripts/heatmap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/mapbasics.js" type="text/javascript"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="map" class="col-lg-12" style="height: 90%"></div>
            <div id="listBox" class="col-lg-3 hidden">
                <div class="form-group">
                    <label for="exampleInputEmail1">Остановка</label>
                    @Html.DropDownList("centres", ViewBag.Centres as SelectList, new { @class = "form-control" })                
                </div>
                
                <div class="form-group">
                    <label for="property_id">Код</label>
                    <input id="property_id" type="text" class="form-control" placeholder="Код" readonly>
                </div>
                <div class="form-group">
                    <label for="property_name">Название</label>
                    <input id="property_name" type="text" class="form-control" placeholder="Название" readonly>
                </div>
                <div class="form-group">
                    <label for="property_location">Расположение</label>
                    <input id="property_location" type="text" class="form-control" placeholder="Расположение" readonly>
                </div>
                <div class="form-group">
                    <label for="property_weight">Население</label>
                    <input id="property_weight" type="text" class="form-control" placeholder="Население" readonly>
                </div>
                <div class="form-group">
                    <label>Список остановок</label>
                    <div>
                        <ul id="busstations">
                            <li>Остановка 1</li>                            
                        </ul>        
                    </div>
                </div>
                <div class="form-group">
                    <label for="buildings_count">Количество зданий</label>
                    <input id="buildings_count" type="text" class="form-control" placeholder="Количество зданий" readonly>                    
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>